h1{
	font-family: 'Aladin', cursive;
   font-family: 'New Rocker', cursive;
   font-size: 30px;
}


input{
font-family: 'Iceland', cursive;
}
label{
		font-family: 'Skranji', cursive;
    font-family: 'Suez One', serif;

}


body{
	background: #9ecb00;
}
input:focus{
	background: aqua;
	color :#000;

}
